.card {
    height: 600px;
    overflow: scroll;
    
}

.img-card {
    text-align: center;
    display: block;
}

.img-card img {
    height: 270px;
}


.visible {
    margin: 0 auto;
}

.flipped {
    display: none;
}

.text {
    margin: 0 auto;
    text-align: justify;
}

.stats {
    width: 100%;
    text-align: right;
}